@media (max-width: 1599.98px) {
  body {
    font-size: 16px;
  }
  .side {
    width: 90px;
  }
  .wrapper {
    padding-right: 90px;
  }
  .hero__title {
    font-size: 190px;
    line-height: 1;
  }
  .about__bottom {
    height: auto;
  }
  .modal__title {
    font-size: 52px;
  }
  .modal__subtitle {
    margin-top: 0;
  }
  .given__list li img {
    width: 80px;
  }
  .given__list li span {
    font-size: 42px;
  }
  .given__title-text {
    font-size: 110px;
  }
  .given__title-sup {
    font-size: 42px;
  }
  .page-template-article .hero__title {
    font-size: 92px;
  }
}
@media (max-width: 1439.98px) {
  .faq__left h3 {
    font-size: 42px;
  }
}

@media (max-width: 1349.98px) {
  .logos__list li {
    width: calc((100% - 72px) / 4);
  }
}
@media (max-width: 1199.98px) {
  .hero__title {
    font-size: 174px;
  }
  .about__title {
    font-size: 58px;
  }
  .talk__title {
    font-size: 120px;
  }
  .talk__list {
    gap: 16px;
  }
  .talk__item {
    width: calc((100% - 16px) / 2);
  }
  .given {
    padding: 40px 40px;
  }
  .given__flex {
    flex-direction: column;
  }
  .given__left,
  .given__right {
    width: 100%;
  }
  .given__list {
    gap: 24px;
  }
  .given__flex {
    gap: 48px;
  }
  .faq__flex {
    flex-direction: column;
  }
  .faq__left {
    width: 100%;
  }
  .faq__title {
    font-size: 72px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .faq__left h3 {
    font-size: 28px;
  }
  .faq__left p {
    font-size: 16px;
  }
  .faq__label {
    font-size: 16px;
  }
  .faq__label {
    font-size: 16px;
  }
}
@media (max-width: 991.98px) {
  .hero__title {
    font-size: 120px;
  }
  .hero__footer div:nth-child(2) {
    display: none;
  }
  .about__title {
    font-size: 42px;
  }
  .about__texts {
    flex-direction: column;
    gap: 0;
  }
  .about__texts > div {
    width: 100%;
  }
  .footer {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    height: auto;
    padding-bottom: 40px;
  }
  .talk__title {
    font-size: 80px;
  }
  .given__title-text {
    font-size: 78px;
  }
  .hero__nav .btn {
    padding-left: 25px;
    padding-right: 25px;
  }
  .logos__list li {
    width: calc((100% - 48px) / 3);
  }
}
@media (max-width: 767.98px) {
  .side {
    display: none;
  }
  .wrapper {
    padding-right: 0;
  }
  .logo {
    width: 217px;
  }
  .hero__flex,
  .article__flex {
    padding: 15px;
  }
  .hero__title {
    font-size: 72px;
    margin-bottom: 20px;
    margin-top: 120px;
  }
  .hero__nav {
    flex-direction: column;
    gap: 16px;
  }
  .hero__nav .btn {
    width: 100%;
    line-height: 18px;
  }
  .hero__footer {
    margin-top: 35px;
  }
  .hero__footer div {
    width: auto;
    font-size: 12px;
  }
  .logos {
    padding: 40px 15px;
  }
  .logos__list {
    gap: 14px;
  }
  .logos__list li {
    width: calc((100% - 14px) / 2);
    padding: 16px;
  }
  .about__title {
    width: 350px;
    font-size: 36px;
  }
  .about__flex {
    padding: 40px 15px 0px;
  }
  .about__bottom {
    margin-left: -15px;
    margin-right: -15px;
    padding: 40px 15px;
  }
  .header {
    padding: 0px 15px;
  }
  .footer {
    padding: 0 15px;
  }
  .modal__form {
    width: 100%;
    padding: 15px;
  }
  .modal__send {
    justify-content: flex-start;
  }
  .modal__title {
    font-size: 46px;
  }
  .footer__menu {
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
  }
  .footer {
    height: auto;
    padding-bottom: 40px;
  }
  .talk {
    margin-left: -15px;
    margin-right: -15px;
    padding: 40px 15px;
  }
  .talk__title {
    font-size: 48px;
  }
  .talk__link {
    height: auto;
  }
  .talk__item {
    width: 100%;
  }
  .given {
    padding: 40px 15px;
  }
  .given__title-text {
    font-size: 62px;
  }
  .given__list li span {
    font-size: 28px;
  }
  .page-template-article .hero__title {
    font-size: 78px;
  }
  .page-template-article .hero__title {
    font-size: 38px;
  }
  .logos__list li img {
    max-width: 100%;
  }
}
